#card1 {

  width: auto;
  height: auto;
  margin: auto;
  transition: transform .4s;
  padding: auto;
}

#card1:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

/*Pricing table css */

.pricingTable{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 0 30px 30px;
    position: relative;
    z-index: 1;
}
.pricingTable:after{
    content: "";
    background: #00A897;
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;  
}
.pricingTable .pricing-content{
    background-color: #fff;
    padding: 15px 0 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.pricingTable .pricingTable-header{
    padding: 20px 10px;
    margin: 0 0 5px;
}
.pricingTable .title{
    color: #333;
    font-size: 40px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0;
}
.pricingTable .content-list{
    padding: 0;
    margin: 0 0 27px;
    list-style: none;
    display: inline-block;
}
.pricingTable .content-list li{
    color: #333;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    padding: 0 0 0 35px;
    margin: 0 0 27px;
    position: relative;
}
.pricingTable .content-list li:last-child{ margin-bottom: 0; }
.pricingTable .content-list li:before{
    content: "\f00c";
    color: #338806;
    font-family: "Font Awesome 5 Free";
    font-size: 17px;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
}
.pricingTable .content-list li.disable:before{
    content: "\f00d";
    color: #FF3631;
}
.pricingTable .price-value{ margin: 0 0 20px; }
.pricingTable .price-value .amount{
    font-size: 50px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 5px;
    display: block;
}
.pricingTable .price-value .duration{
    font-size: 16px;
    display: block;
}
.pricingTable .pricingTable-signup a{
    color: #fff;
    background-color: #00A897;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 25px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}
.pricingTable .pricingTable-signup a:hover{ text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
.pricingTable .pricingTable-signup a:before,
.pricingTable .pricingTable-signup a:after{
    content: '';
    background-color: rgba(0,0,0,0.15);
    height: 100%;
    width: 50%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    transition: all 0.3s ease;
}
.pricingTable .pricingTable-signup a:after{
    left: auto;
    right: 0;
}
.pricingTable .pricingTable-signup a:hover:before{
    opacity: 1;
    top: 50%;
}
.pricingTable .pricingTable-signup a:hover:after{
    opacity: 1;
    top: -50%;
}
.pricingTable.blue:after,
.pricingTable.blue .pricingTable-signup a{
    background-color: #0089BD;
}
.pricingTable.magenta:after,
.pricingTable.magenta .pricingTable-signup a{
    background-color: #C70134;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 50px; }
}


.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}